/twic_downloaded/
/twic_pgns/
/chessArbiter.err
/chessArbiter.pgn
/chessArbiter.sg4
/chessArbiter.si4
/chessArbiter.sn4
/chessbase.err
/chessbase.pgn
/chessbase.sg4
/chessbase.si4
/chessbase.sn4
/chessmanager.err
/chessmanager.pgn
/chessmanager.sg4
/chessmanager.si4
/chessmanager.sn4
/.idea
/lichess_pgns/
/lichess_downloaded/
